body {
  font-family: "Teko", sans-serif;
  text-align: center;
  margin: 0 auto 0 auto;
}

.in-view {
  visibility: visible;
  opacity: 1;
  transition: all .5s ease-in;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 0 auto 50px auto;
  padding: 3.5% 5% 0% 5%;
  align-items: center;
  justify-items: center;
  background-color: black;
  position: relative;
}

.heading {
  position: relative;
  top: 0%;
  left: 0%;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: calc(2.5rem + 3vw);
  color: white;
}
.subheader {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: sans-serif;
  font-size: calc(1rem + 1vw);
  color: white;
}

#lbookend {
  display: inline-block;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 75%;
  margin-top: 5%;
  bottom: 0%;
}

#rbookend {
  display: inline-block;
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
  width: 75%;
  margin-top: 5%;
  bottom: 0%;
}

#header-image-l {
  display: inline-block;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 33%;
  margin-top: 5%;
}

#header-image-r {
  display: inline-block;
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
  width: 30%; 
  margin-top: 5%;
}

@keyframes cwspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ccwspin {
  from {
    transform: rotate(360deg);
  } to {
    transform: rotate(0deg);
  }
}

.clockwisespin {
  animation-name: cwspin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.counterclockwisespin {
  animation-name: ccwspin;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.top-container {
  position: relative;
  width: 75%;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.centerpiece-caption1 {
  position: absolute;
  top: 18%;
  right: 65%;
  z-index: 5;
}

#cap1 {
  padding: 0.5%;
  width: 100%;
}

.centerpiece {
  z-index: 0;
  width: 100%;
}

@keyframes strike {
  0% {opacity: 0}
  5% {opacity: 100}
  6% {opacity: 0}
  28% {opacity: 0}
  49% {opacity: 0}
  50% {opacity: 100}
  51% {opacity: 0}
  100% {opacity: 0}
}

.strike {
  position: absolute;
  transform: rotate(5deg);
  opacity: 0;
  animation-name: strike;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  left: 15%;
  bottom: 29.7%;
  height: 17.5%;
  width: 25%;
}

@keyframes strike2 {
  0% {opacity: 0}
  4% {opacity: 0}
  5% {opacity: 100}
  6% {opacity: 0}
  28% {opacity: 0}
  49% {opacity: 0}
  50% {opacity: 100}
  51% {opacity: 0}
  100% {opacity: 0}
}

.strike2 {
  position: absolute;
  opacity: 0;
  animation-delay: 2s;
  animation-name: strike2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  left: 45%;
  bottom: 29%;
  height: 17.5%;
  width: 25%;
}

@keyframes strike3 {
  0% {opacity: 0}
  6% {opacity: 0}
  24% {opacity: 0}
  25% {opacity: 100}
  28% {opacity: 100}
  29% {opacity: 0}
  49% {opacity: 0}
  50% {opacity: 100}
  51% {opacity: 0}
  100% {opacity: 0}
}

.strike3 {
  position: absolute;
  opacity: 0;
  animation-name: strike3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  left: 28.5%;
  bottom: 28.7%;
  height: 17.5%;
  width: 25%;
}

.centerpiece-caption2 {
  position: absolute;
  z-index: 10;
  bottom: 30%;
  right: 70%;
}

#cap2 {
  width: 100%;
  padding: 0.5%;
}

main {
  display: grid;
  position: relative;
  grid-template-columns: 1000px;
  grid-template-rows: repeat(auto, auto);
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  align-content: center;
}

main div p {
  padding-left: 1%;
  padding-right: 1%;
}

div {
  visibility: hidden;
  opacity: 0;
}

.orange {
  border: solid;
  border-color: black;
  border-width: 5px;
  background-color: orange;
  font-size: 2.5rem;
}

.yellow {
  border: solid;
  border-color: black;
  border-width: 5px;
  background-color: yellow;
  font-size: 2.5rem;
}

.red {
  border: solid;
  border-color:black;
  border-width: 5px;
  background-color: red;
  color: white;
  font-size: 2.5rem;
}

.l1 {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  z-index: 5;
  bottom: 80%;
  left: 20%;
  width: 500px;
}

.r1 {
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 5;
  position: relative;
  left: 50%;
  bottom: 80%;
  width: 450px;
}

.top-line {
  position: absolute;
  grid-row: 1/2;
  bottom: 120%;
  z-index: 0;
  width: 100%;
  height: 200px;
  background-color: black;
}

.l2 {
  grid-column: 1/2;
  grid-row: 3/4;
  position: relative;
  left: 40%;
  bottom: 80%;
  width: 250px;
}

.r2{
  grid-column: 1/2;
  grid-row: 4/5;
  position: relative;
  left: 60%;
  bottom: 80%;
  width: 150px;
}

@keyframes fade {
  0%, 75%, 100% { opacity: 0 }
  50% { opacity: 1 }
}

.dice {
  position: relative;
  grid-column: 1/2;
  grid-row: 4/5;
  width: 25%;
  bottom: 80%;
  left: 10%;
}

.die1 {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 5px black solid;
}

.die2 {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 5px black solid;
  transform: rotate(45deg);
}

.dot {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  font-size: 10rem;
  line-height: 1;
  color: black;
}

.dot1 {
  left: 4px;
  bottom: -10px;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.dot2 {
  right: 4px;
  bottom: -10px;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.dot3 {
  left: 4px;
  bottom: 45px;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.dot4 {
  right: 4px;
  bottom: 45px;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.dot5 {
  left: 30px;
  bottom: 15px;
}

.l3 {
  grid-column: 1/2;
  grid-row: 5/6;
  position: relative;
  left: 30%;
  bottom: 80%;
  width: 320px;
}

.throne {
  position: relative;
  left: 20%;
  grid-column: 1/2;
  grid-row: 6/7;
  width: 100px;
  height: 100px;
}

@keyframes swell {
  0% {scale: initial;}
  50% {scale: 120%;}
  100% {scale: initial;}
}

.crown {
  position: absolute;
  transform: rotate(-15deg);
  animation-name: swell;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  left: 61%;
  bottom: 180%;
  width: 30px;
  height: 30px;
}

.cleo {
  position: absolute;
  left: 10%;
  bottom: 25%;
  width: 200px;
  height: 200px;
}

.r3 {
  grid-column: 1/2;
  grid-row: 6/7;
  position: relative;
  left: 50%;
  bottom: 80%;
  width: 280px;
}

.c1 {
  grid-column: 1/2;
  grid-row: 7/8;
  position: relative;
  left: 33%;
  bottom: 60%;
  width: 380px;
  height: fit-content;
}

.underline {
  text-decoration-line: underline;
  color: white;
}

@keyframes slide {
  0%, 5%, 95%, 100% {
    bottom: 0%;
    transform: translate(0, 0);
} 45%, 55% {
    bottom: 20px;
    transform: translate(0, -20px);
}
}

.assemble {
  position: relative;
  animation-name: slide;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  color: white;
}

.l4 {
  grid-column: 1/2;
  grid-row: 8/9;
  position: relative;
  left: 20%;
  bottom: 20%;
  width: 650px;
}

.r4 {
  grid-column: 1/2;
  grid-row: 9/10;
  position: relative;
  left: 25%;
  width: 450px;
}
.c2 {
  grid-column: 1/2;
  grid-row: 10/11;
  position: relative;
  left: 20%;
  font-size: 3rem;
  width: 550px;
}

@keyframes left {
  from {
    transform: translateX(-100%);
  } to {
    transform:translateX(0%);
  } 
}

.lslide {
  display: inline-block;
  width: 25%;
  animation-name: left;
  animation-duration: 60s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.steamroll {
  grid-column: 1/2;
  grid-row: 11/12;
  position: relative;
  left: 5%;
  width: 900px;
}

.steamroller {
  display: inline-block;
  position: relative;
  width: 100%;
}

.steamrolled {
  display: inline-block;
  width: 3%;
}

.middle-line {
  position: absolute;
  bottom: -83%;
  grid-row: 11/12;
  width: 100%;
  height: 200px;
  background-color: black;
}

.l5 {
  grid-column: 1/2;
  grid-row: 12/13;
  position: relative;
  margin-top: 5vh;
  left: 15%;
  width: 630px;
}

.r5 {
  grid-column: 1/2;
  grid-row: 13/14;
  position: relative;
  left: 10%;
  width: 520px;
}

.c3 {
  grid-column: 1/2;
  grid-row: 14/15;
  position: relative;
  left: 40%;
  width: 450px;
}

.l6 {
  grid-column: 1/2;
  grid-row: 16/17;
  position: relative;
  left: 22%;
  width: 520px;
}

@keyframes shrink {
  0% {scale: 200%}
  50% {scale: 150%}
  100% {scale: 100%}
}

.hopeless {
  position: relative;
  left: 20%;
  grid-column: 1/2;
  grid-row: 17/18;
  animation-name: shrink;
  animation-duration: 60s;
  animation-iteration-count: 1;
  width: 30%;
}

.mental-health {
  width: 200px;
  height: 200px;
}

.r6 {
  grid-column: 1/2;
  grid-row: 17/18;
  position: relative;
  left: 50%;
  width: 380px;
}

.elipses {
  position: relative;
  left: 50%;
  grid-row: 18/19;
  font-size: 8rem;
  margin: 50px 0 100px 0;
  width: min-content;
  height: min-content;
}

.c4 {
  grid-column: 1/2;
  grid-row: 19/20;
  position: relative;
  left: 30%;
  width: 350px;
  border: black solid 20px;
  border-left: 50px black solid;
  border-right: 50px black solid;
}

.c4 p {
  margin: 0;
  font-style: italic;
  border-color: white;
  animation-name: swell;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.l7 {
  grid-column: 1/2;
  grid-row: 20/21;
  position: relative;
  left: 20%;
  width: 560px;
}

.r7 {
  grid-column: 1/2;
  grid-row: 21/22;
  position: relative;
  left: 12.5%;
  width: 320px;
}

.c5 {
  grid-column: 1/2;
  grid-row: 22/23;
  position: relative;
  left: 40%;
  width: 320px;
}

.l8 {
  grid-column: 1/2;
  grid-row: 23/24;
  position: relative;
  left: 20%;
  width: 560px;
}

.r8 {
  grid-column: 1/2;
  grid-row: 24/25;
  position: relative;
  left: 42%;
  width: 120px;
}

.button {
  position: relative;
  grid-column: 1/2;
  grid-row: 25/26;
  left: 40%;
  z-index: 5;
  margin-top: 3%;
  width: 200px;
}

button {
  font-family: "Teko";
  background-color: black;
  width: 200px;
  color: white;
  font-size: 4rem;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: red;
}

.darken {
  background: black;
  background-color: black;
  transition-duration: 1s;
}

@keyframes swing {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(35deg);
  }
}

.avatar {
  position: relative;
  grid-column: 1/2;
  grid-row: 26/27;
  bottom: 15px;
  left: 40%;
  z-index: 0;
  width: 30%;
}

.free-man {
  position: absolute;
  width: 38%;
  transform-origin: 37.5% 0%;
  animation-name: swing;
  animation: swing ease-in-out 4s;
  animation-iteration-count: infinite;
}

.bottom-line {
  position: relative;
  display: block;
  width: 100vw;
  height: 200px;
  background-color: black;
}

footer {
  position: relative;
  color: white;
  font-size: 2rem;
  margin-top: 200px;
}