html,
body {
  height: 95%;
  background-color: #f5f5f5;
}

.text-center {
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-column: 350px;
  padding-top: 20px;
}

.gears {
  margin: 0 auto;
  width: 350px;
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
  text-align: center;
}

.clockwise {
  margin: auto;
  width: 40%;
  rotate: 20deg;
  animation-name: clockwise;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.counterclockwise {
  margin: auto;
  width: 40%;
  animation-name: counterclockwise;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes counterclockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.brain {
  width: 17%;
  height: 28%;
  position: absolute;
  left: 21.5%;
  top: 35%;
}

.fist {
  width: 16%;
  position: absolute;
  right: 22.5%;
  top: 35%;
}

#sf3zc6baf42fa0b4f20e6e08583d8835f4602c6e87d66cc9e4724eeb17efb98ff304 {
  grid-column: 2/3;
  text-align: center;
  justify-self: center;
}

.form-signin {
  grid-column: 2/3;
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.titleBox {
  margin: 25px auto 25px auto;
  text-align: center;
}

.title {
  margin: 0 auto; 
  font-size: 3rem;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-control:focus {
  z-index: 2;
}
.top {
  width: 90%;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  width: 90%;
  border-radius: 0;
  margin-bottom: -1px;
}

.bottom {
  width: 90%;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
  display: block;
  color: whitesmoke;
  font-size: larger;
  background-color: rgb(255, 102, 0);
  width: 45%;
}

.top-container {
  grid-row: 3/4;
  grid-column: 2/3;
  max-width: 580px;
  text-align: center;
}

.offer li {
  font-size: 1.5rem;
  margin: 20px auto 20px auto;
}